.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.watch {
  font-size: 45px;
  font-weight: 400;
}

.wrap {
  margin-top: 20px;
}

.button {
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #257dd5;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 4px rgb(1, 71, 99);
}
.button:hover {
  background-color: #3e678e;
}

.button:active {
  background-color: #62e6e6;
  box-shadow: 2px 4px 4px #666;
  transform: translateY(4px);
}
